.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em;
}

.container-modal {
  background: $background-opacity-color;
  position: fixed;
  transition: opacity 500ms ease-in;
  width: 100%;
  z-index: 10000;
  cursor: pointer;
  display: none;
  article{
    padding: 2em;
  }
}

.wrapper {
  color: $secondary-color;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
  height: 14vh;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
  padding-bottom: 3em;
  text-align: center;
  width: 50%;
}

.title {
  background: url("http://www.todopaisajes.com/Imagenes/bosque-con-niebla.jpg") repeat;
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 9em;
  font-weight: 1200;
  line-height: 1em;
  padding-top: 0.5em;
  position: relative;
  text-align: center;
}

.subtitle {
  display: block;
  padding-top: 1em;
  text-align: center;
  text-transform: uppercase;
}

.mobile-title {
  display: none;
}

@media (max-width: 600px) {

  .title {
    display: none;
  }
  .mobile-title {
    background: url("http://www.todopaisajes.com/Imagenes/bosque-con-niebla.jpg") repeat;
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 9em;
    font-weight: 1200;
    line-height: 1em;
    padding-top: 0.5em;
    position: relative;
    text-align: center;
  }

  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container-modal {
    background: $background-opacity-color;
    cursor: pointer;
    display: none;
    margin: 0;
    padding:0;
    position: fixed;
    transition: opacity 500ms ease-in;
    width: 100%;
    z-index: 10000;
  }

  .wrapper {
    color: $secondary-color;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    height: 14vh;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 8em;
    text-align: center;
    width: 80%;
  }
}
