 a {
  text-decoration: none;
  color: #E9CA00;
  text-align: center;
}


header {
  width: 100%;
  padding: 2px;
  margin: 0px;
  background-image: url("img/cuerpo.jpeg");
}

body {
  font-family: "Helvetica";
  font-size: 15px;
  background-image: url("img/fondo.jpg");
}

p {
  font-size: 12px;
  text-align: center;
}

ul {
    list-style:none;
    list-style-position: none;
    padding: 0px;
    font-size: 12px;
    text-align: center;
  }

h1 {
  font-family: 'basic_title_fontregular', sans-serif;
  font-size: 200px;
  line-height: 40px;
  text-align: center;
}

h2{
  font-family: 'basic_title_fontregular', sans-serif;
  font-size: 80px;
  line-height: 20px;
  font-weight: bolder;
  text-align: center;
}

h3{
  font-family: 'basic_title_fontregular';
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}
