button {
  background: none;
  border-radius: 4em;
  border: none;
  text-decoration: none;
}

.button-modal {
  display: flex;
  justify-content: center;


  a {
    color: $secondary-color-black;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    padding: 1em;
    text-decoration: none;
  }

  button {
    &:hover {
      background-color: $background-opacity-color;
    }
  }
}
