.container-logo {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;

  img {
    align-items: center;
    height: 3.3em;
    padding: 0.5em;
    width: 3.3em;
  }
}

@media (max-width: 380px) {
  .container-logo {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;

    img {
      align-items: center;
      height: 6.3em;
      padding: 0.5em;
      width: 6.3em;
    }
  }
}
