@import url( 'https://fonts.googleapis.com/css?family=Aref+Ruqaa|Hammersmith+One');
@import url( 'https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url( 'https://fonts.googleapis.com/css?family=Roboto');

$primary-color: rgb(125, 102, 84);
$secondary-color: #b7b7bc;
$secondary-color-black: #474D59;
$yellow-color: rgba(181, 165, 131, 0.5);
$background-opacity-color: rgba(0,0,0,0.5);
