*{
  box-sizing: border-box;
}
html{
  height: 100%;
  width:100%;
}
body{
  background: linear-gradient(rgb(235, 236, 231), rgb(255, 255, 255));
  height: 100%;
  margin: 0;
  width: 100%;
}

svg{
  fill:black;
  width:5em;
  &:hover{
    fill: black;
  }
}
